@model CountryVM

<div class="container" style="padding-top:40px">

    <div class="row">

        <div class="col-sm-8 offset-2">

            <div class="card" style="border:solid 1px">

                <div class="card-header fw-bold fs-5" style="text-align:center;">

                    <p class="text-bg-light">


                        @(Model.Id==0?"Ülke Ekleme Formu":"Ülke Düzenleme Formu")
                    </p>

                </div>

                <div class="card-body">

                    <form method="post" asp-area="Admin" asp-controller="Country" asp-action="Save">

                        @if (!string.IsNullOrWhiteSpace(ViewBag.errorMessage))
                        {
                            <div class="alert alert-danger">

                                @ViewBag.errorMessage
                            </div>
                        }

                        <input asp-for="Id" type="hidden" />

                        <div class="form-group mb-3">

                            <label asp-for="Name"></label>

                            <input asp-for="Name" type="text" class="form-control" />

                            <span asp-validation-for="Name" class="text-danger fw-bold"> </span>

                        </div>


                        <div class="form-group mb-3">

                            <label asp-for="Description"></label>

                            <textarea maxlength="5000" asp-for="Description" class="form-control"></textarea>

                            <span asp-validation-for="Description" class="text-danger fw-bold"></span>

                        </div>

                        <button type="submit" class="btn btn-success mt-3 float-end">

                            @(Model.Id==0?"Kaydet":"Güncelle")
                        </button>


                    </form>

                </div>

            </div>

        </div>


    </div>


</div>


